<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head.ejs", {title: "Datail"}) %> 

<body>
    
    <%-include("../partials/header.ejs") %> 

    <main class="container-detatil">

      
        <section class="caja caja-detail " >
           
            <div>
            <img  src="<%= game.image %> " alt=""   >
            </div>
            <div>
            <p class="bold">PRECIO: $ <%= game.precio %></p>
            <p class="verde"> DESCUENTO: <%= game.descuento %> %</p>
            <p class="verde"> PRECIO FINAL: $ <%=((100-game.descuento)/100)*(game.precio)%> </p>
            <p class="gris"><%= game.nombre %></p>
            </div>
           
        </section>
   

    </main>

        
    <%-include("../partials/footer.ejs") %> 

</body>
</html>
